/* Fuentes: importación */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Fuentes: clases de familias */

.font_Inter {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    letter-spacing: 0.4px;
}

.font_Monserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


/* Fuentes: clases específicas */

h1 {
    font-size: 2.7rem;    
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

span {
	color: #1153fc;
}

.font_logo {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
}

.font_menu {
    font-weight: 400;
}

.font_detalles {
  font-size:clamp(1.75rem,3.5vw, 2.2rem);
    font-weight: 400;
}

.font_txt_inicio {
    font-size: 1.19rem;
    letter-spacing: 0.6px;
	width: 35rem;
}

.font_titulo_paso {
    font-size: 36px;
    line-height: 40px;
}

.font_titulo_demo {
    font-size: 30px;
    line-height: 34px;
}

.font_footer {
  font-weight: 500;
}


/* Botones */

button {
	width: 15rem;
    height: 2.2rem;
	border-radius: 11px;
	background-color: #24a0ed;
	color:white;
	transition: background-color 0.3s;
}


button:hover {
	background-color: #1153fc;
}

button > a {
	text-decoration: none;
	color:white;
}



body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* header,
header #menu_superior,
header #menu_superior nav,
header #menu_superior ul {
	display: flex;
	flex-direction: row;
}

header {
	column-gap: 30rem;
}

header #menu_superior ul {
	column-gap: 4.5rem;
	list-style: none;
	margin-top: 0;
} */


/* cabecera */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 1;
  background-color: rgba(29, 38, 47, 0.7);
  padding: 10px;
}

/* Desenfoque del header*/
.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 38, 47 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

header.sticky {
  height: 80px;
}

header .banner {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

header .logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: #fff;
  font-weight: 700;
  transition: 1.25s;
  text-decoration: none;
  z-index: 1;
}

.logo a {
  text-decoration: none;
  color:white;
}


header.sticky img {
  height: 70px;
  width: 70px;
  transition: 1s;

  top: 50%;
  left: 50%;
}

header.sticky .logo {
  position: absolute;
  font-size: 1.823vw;
  left: 100px;
  transform: translate(0, -50%);
}

nav {
  position: relative;
  display: flex;
  z-index: 1;
}

nav ul {
  position: relative;
  display: flex;
  transition: 0.25s;
  transform: translateX(100px);
  opacity: 0;
}

header.sticky nav ul {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0, 75s;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
}

nav ul li a:hover {
  color: #1153fc;
  transform: scale(1.1);
}

@media  (max-width:1300px) {
  header.sticky .logo {
    left: 40px;
  }

  header.sticky .banner {
    opacity: 0;
  }

  nav ul {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  nav.active ul {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: rgba(29, 38, 47, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
  }

  header.sticky nav ul {
    opacity: 1;
    visibility: visible;
  }

  nav.active ul li {
    font-size: 1.5em;
    padding: 5px 15px;
  }

  header.sticky .toggle {
    position: fixed;
    top: 15px;
    right: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #fff url(img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .toggle.active {
    background: #fff url(img/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* ----------------------------------estilos cabecera------------------------------- */





main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
 
}




#bloque1_CoheteInicial {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 16rem;
}

#subbloque_cohete {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    grid-template-rows: 1fr 1fr;
  }
}


#parrafo_DaleATuNegocio {
	display: grid;
	align-content: end;
	margin-left: 8rem;
}

#parrafo_DaleATuNegocio > h1 {
	margin-bottom: 0;
}

#subbloque_estrella {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  margin-top: -9rem;
  z-index: -1;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: none;
  }
}

@media only screen and (max-width: 1100px){

  #bloque1_CoheteInicial{
    display: flex;
    align-items: center;
  }

  #parrafo_DaleATuNegocio{
    display: flex;
    align-items: flex-start;
    margin-left: 1.5vh;
    
    align-items: flex-start;
    flex-direction: column;
  }

 #parrafo_DaleATuNegocio button{
  align-self: center;
 }
    
  #subbloque_cohete{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5vh;

  }



  .cohete{
    margin-left: 1.5vh;
  }
}

#bloque2_Detalles {
  width: 90%;
  margin: 0 auto;
}

#bloque2_Detalles>div {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    grid-template-rows: 1fr 1fr;
  }
}

#detalle1 > p {
	padding-top: 6rem;
  
}

#detalle1 > img {
	margin-top: -4rem;
  transition: 1.5s;
}

#detalle2 > p {
	padding-top: 10rem;
}

#detalle2 > img {
	margin-top: -2rem;
  transition: 1.5s;
  margin-right: 25vh;
}

#detalle3 > p {
	padding-top: 8rem;
}
#detalle > img{
  transition: 1.5s;
}

@media only screen and (max-width:1100px){

  #bloque2_Detalles{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-left: 1.5vh;
  }
  #bloque2_Detalles> div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5vh;

    
    
  }



 
  #detalle1 > p{
    padding-top: 2vh;
    margin: 0 auto;
    
    
  }
  #detalle1 > img {
    margin-top: 5rem;
    height: 350px;
    width: 350px;
    
      
  }

 #detalle2{
  display: flex;
  
 }
  
  #detalle2 > p{
    margin-top: 2vh;
    padding-top: 2vh;
    order: 2;
    
    
    
  }

  #detalle2 > img {
    margin-top: 2vh;
    height: 350px;
    width: 350px;
    order: 1;
    
    
   
  }


  #detalle3 > p{
    padding-top: 2vh;
    
    
  }

  #detalle3 > img{
      height: 350px;
    width: 350px;
  }

  

}




#bloque3_AsiDespegaras {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 34rem;
  }
}

#bloque3_AsiDespegaras>div {
  display: grid;

  /* pantalla LANDSCAPE */
  @media screen and (aspect-ratio > 1/1.1) {
    grid-template-columns: 6fr 4fr;
  }

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    grid-template-rows: 7fr 3fr;
  }
}

#parrafos_AsiDespegaras {
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    margin-top: 3rem;
  }
}

#bloque3_AsiDespegaras>div>div #analisis,
#bloque3_AsiDespegaras>div>div #planificacion,
#bloque3_AsiDespegaras>div>div #ejecucion {
  display: grid;

  /* pantalla LANDSCAPE */
  @media screen and (aspect-ratio > 1/1.1) {
    grid-template-columns: 4fr 6fr;
  }

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    grid-template-rows: 4fr 6fr;
    justify-items: center;

    margin-top: 2rem;
  }
}

#asiDespegaras{
  margin-left: 20%;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    margin-left: 2rem;
  }
}

#parrafo_analisis h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

#parrafo_analisis {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 32rem;
    margin-left: 2.5rem;
    margin-top: -5rem;
  }
}

#parrafo_analisis > p {
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

#parrafo_planificacion h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

#parrafo_planificacion {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 32rem;
    margin-left: 2.5rem;
    margin-top: -5rem;
  }
}

#parrafo_planificacion > p {
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

#parrafo_ejecucion h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

#parrafo_ejecucion {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 32rem;
    margin-left: 2.5rem;
    margin-top: -5rem;
  }
}

#parrafo_ejecucion > p {
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

img[alt="estrella-micro2"] {
  width: 57px;
  height: 58px;
}

img[alt="cohete-2"] {
  width: 456px;
  height: 456px;
}



#bloque4_EjemplosReales {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    margin-top: -25rem;
  }
}

#bloque4_EjemplosReales #flechatitulo_EjemplosReales {
  display: flex;
  flex-direction: row;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    margin-bottom: -14rem;
  }
}

#flechatitulo_EjemplosReales>img,
#flechatitulo_EjemplosReales>h2>img {

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: none;
  }
}

#flechatitulo_EjemplosReales > h2 {
	margin-top: 15rem;
}

#bloque4_EjemplosReales #demos_EjemplosReales {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 90%;
  margin: 0 auto;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: flex;
    flex-direction: column;
  }
}

#demos_EjemplosReales>div {
  /* Estos <div> son: demo1, demo2, demo3... */
  display: flex;
  flex-direction: row;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 9rem;
  }
}

#demos_EjemplosReales > div > div:first-child {
  /* Esto son los <div>: img_demo1, img_demo2... */

  /* En pantalla Portrait no se muestran las minimedallas. */
  /* Esto es necesario porque aquí la maquetación varía. */

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: none;
  }
}

#demos_EjemplosReales>div #minimedalla_demo1,
#demos_EjemplosReales>div #minimedalla_demo2,
#demos_EjemplosReales>div #minimedalla_demo3,
#demos_EjemplosReales>div #minimedalla_demo4 {

  /* En pantalla Landscape no se muestran las medallas grandes. */
  /* Esto es necesario porque aquí la maquetación varía. */

  /* pantalla LANDSCAPE */
  @media screen and (aspect-ratio > 1/1.1) {
    display: none;
  }
}

#demos_EjemplosReales>div #minimedalla_demo1 > img,
#demos_EjemplosReales>div #minimedalla_demo2 > img,
#demos_EjemplosReales>div #minimedalla_demo3 > img,
#demos_EjemplosReales>div #minimedalla_demo4 > img {

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 7rem;
  }
}

#demos_EjemplosReales>div #cabecera_demo1,
#demos_EjemplosReales>div #cabecera_demo2,
#demos_EjemplosReales>div #cabecera_demo3,
#demos_EjemplosReales>div #cabecera_demo4 {

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: flex;
    flex-direction: row;
  }
}

/* Estos son los h4 que hay en los segundos <div> de 
	los #cabecera_demoN. */
#textos_demo1 h4,
#textos_demo2 h4,
#textos_demo3 h4,
#textos_demo4 h4 {
  margin-bottom: 0;
  margin-top: 0.5rem;

}

/* Estos son los h3 que hay en los segundos <div> de 
	los #cabecera_demoN. */
#textos_demo1 h3,
#textos_demo2 h3,
#textos_demo3 h3,
#textos_demo4 h3 {
  margin-top: 0;
  margin-bottom: 0;
}



#bloque5_EstrellaFinal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 35rem;
  }
}

#subbloque_EstrellaFinal {
  display: flex;
  flex-direction: row;
  width: 50%;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

#boton_EstrellaFinal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: auto;
  }
}



#bloque6_Footer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 37rem;
  }
}

#subbloque_enlaces {
  display: flex;
  flex-direction: row;
  column-gap: 8rem;
  justify-content: center;


  /* En pantalla Portrait, los bloques de enlaces del footer
	*	se muestran en columna. */

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: flex;
    flex-direction: column;

  }
}

#subbloque_enlaces>div {
  display: flex;
  flex-direction: column;
}

#subbloque_enlaces p {
  margin: 0.2rem;
}

#subbloque_enlaces #web-link {

  /* En pantalla Portrait, el bloque de enlaces de Inicio,
	*	en el footer, se muestra el primero. */

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    order: -1;
  }
}

#subbloque_copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
}


#ordenador {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s, transform 1.5s;
}

#pantalla {
  opacity: 0;
  transform: translateX(60%);
  transition: opacity 2s, transform 1.5s;
  
}

#trofeo {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s, transform 1.5s;
}

.cubos {
  width: 40%;
  height: auto;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s, transform 1s;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 20%;
    /* margin-left: 12rem; */
  }
}

h1,
h2,
h3,
p {
  color: #E4DFF5;
}

h4 {
  color: #1153fc87;
}

body {
  background-color: #1D262F;
}

.cohete {
  width: 382px;
  height: 304px;
  left: 579px;
  top: 151px;
}

img[alt="estrella-micro"] {
  width: 57px;
  height: 58px;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

#flechatitulo_Ejemplosreales h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

#img_demo1 img[alt="medalla"] {
  width: 121.29px;
  height: 113.57px;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: none;
  }
}

#textos_demo1 h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

#textos_demo1 p {
  font-size: 16px;
  line-height: 24px;
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

#img_demo2 img[alt="medalla"] {
  width: 121.29px;
  height: 113.57px;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: none;
  }
}

#textos_demo1, 
#textos_demo2,
#textos_demo3,
#textos_demo4 {

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    width: 32rem;
    margin-left: 2.5rem;
    margin-top: -5rem;
  }
}

#textos_demo2 h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

#textos_demo2 p {
  font-size: 16px;
  line-height: 24px;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

#img_demo3 img[alt="medalla"] {
  width: 121.29px;
  height: 113.57px;

  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    display: none;
  }
}

#textos_demo3 h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

#textos_demo3 p {
  font-size: 16px;
  line-height: 24px;
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

#img_demo4 img[alt="medalla"] {
  width: 121.29px;
  height: 113.57px;
}

#textos_demo4 h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}


#textos_demo4 p {
  font-size: 16px;
  line-height: 24px;
  
  /* pantalla PORTRAIT */
  @media screen and (aspect-ratio <=1/1.1) {
    font-size: 30px;
    line-height: 2.4rem;
  }
}


img[alt="estrella_mini"] {
  width: 89px;
  height: 91px;
}


footer {
  background-color: #E2D9D0;
  

  width: 100%;
  min-width: 100%;
  

}

#subbloque_enlaces{
  margin-top: 2.5rem;
 
}

#contacto a{
  text-decoration: none;
  padding-top: 5px;
color: black;

}
#contacto a:hover{
  color:#1153fc ;
  
}

#web-link a{
  text-decoration: none;
  padding-top: 5px;
color: black;
}

#web-link a:hover{
  color:#1153fc ;
  
}
#terminos a {
  text-decoration: none;
  padding-top: 5px;
color: black;
}

#terminos a:hover{
  color:#1153fc ;
  
}

#subbloque_copyright p {
  color: black;
  font-weight: 300;
  font-size: 15px;
  
}



@media only screen and (max-width:1100px) {

  
  #subbloque_enlaces{
    flex-direction: column;
    align-items: center;

  }
  #contacto,#web-link,#terminos{
    padding-top: 1rem;
    align-items: center;
  }

  #web-link a{
    font-size: 16px;
  }

  .subbloque_enlaces > div {
    flex: 1;
  }
}